@import "tailwindcss";

@theme {
    --color-gray-900: #0a0c10;
}

body {
    background-color: var(--color-gray-900);
    margin: 0;
    overscroll-behavior-y: none;
}

@utility no-scrollbar {
    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}

@utility mask-gradient {
    mask-image: linear-gradient(to right, black 85%, transparent 100%);
}